<html>
    <head>
        <title></title>
        
        <meta charset="utf-8">
        <meta name="active-menu" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!-- JS -->
        <script src="/assets/js/jquery-3.4.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

        

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
        
    </head>
    <body>